language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly

env:
  matrix:
    - COMPOSER_PREFER="--prefer-stable"
    - COMPOSER_PREFER="--prefer-lowest"

matrix:
  allow_failures:
    - php: nightly
  exclude:
    - php: 7.0
      env: COMPOSER_PREFER="--prefer-lowest"

script:
  - composer update $COMPOSER_PREFER
  - vendor/bin/atoum --test-ext
